.author-avatar {
    padding-top: 78px;
    padding-bottom: 34px;
}

.author-avatar__text-1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;
    color: #0A3853;
    display: flex;
    justify-content: center;
}

.author-avatar__text-2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: justify;
    color: #0A3853;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.author-avatar__title {
    display: flex;
    justify-content: center;
}

.author-avatar__img {
    margin-left: auto;
    margin-right: auto;
}